<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        
        <title>HTML Table</title>
    </head>
    <body>
        <br>
        <div class="container">
            <table class="table table-responsive table-hover">
                <tr class="table-dark">
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Full Name</th>
                </tr>
                {% for user in userData %}
                    <tr>
                        <td>{{ user['first_name'] }}</td>
                        <td>{{ user['last_name'] }}</td>
                        <td>{{ user['first_name'] }} {{ user['last_name'] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        
        <!-- Bootstrap Bundle with Popper -->
        <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    </body>
</html>